Android/*
Books/*
c++/*
Ideas/*
IDEs/*
Java/Processing/processing.exe-Shortcut.lnk
Javascript/p5/*
!Javascript/p5/projects/
!Javascript/p5/Photo-Manipulation/
Pokeball-Pokemon-Comparison/*
!Pokeball-Pokemon-Comparison/Scripts/
Pokeball-Pokemon-Comparison/Scripts/__pycache__/
Python/*
!Python/PythonScripts/
!Python/LEDs/
R/*
!R/Scripts/dailEreadR.R
ShoWorks-Book-Integration-App/*
Website/
